In [105]:
import pandas as pd
import seaborn as sns
df = pd.read_csv('C:\Users\Thai Anh\Downloads\Nhapmonphantichdulieuhocsau\patient_heart_rate.csv')
df

       1    Mickéy Mousé    56       70kgs   72   69   71    -  -.1  -.2
0    2.0     Donald Duck  34.0   154.89lbs    -    -    -   85   84   76
1    3.0      Mini Mouse  16.0         NaN    -    -    -   65   69   72
2    4.0  Scrooge McDuck   NaN       78kgs   78   79   72    -    -    -
3    5.0    Pink Panther  54.0  198.658lbs    -    -    -   69  NaN   75
4    6.0     Huey McDuck  52.0      189lbs    -    -    -   68   75   72
5    7.0    Dewey McDuck  19.0       56kgs    -    -    -   71   78   75
6    8.0      Scööpy Doo  32.0       78kgs   78   76   75    -    -    -
7    NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
8    NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
9    9.0     Huey McDuck  52.0      189lbs    -    -    -   68   75   72
10  10.0    Louie McDuck  12.0       45kgs    -    -    -   92   95   87
11  11.0       Henry Nam   NaN       60kgs   78   75   72    -    -    -
12  12.0     Michel Long  34.0         NaN   65   67   55    -    -    -
13  13.0      Tana Ricky   NaN         NaN    -    -    -   68   72   70
14  14.0        UniLever   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
15  15.0             NaN  52.0      180lbs    -    -    -   68   75   72

In [106]:
column_names=["ID", "Name", "Age", "Weight", "m0006", "m0612","m1218", "f006", "f0612", "f1218"]
df= pd.read_csv('C:\Users\Thai Anh\Downloads\Nhapmonphantichdulieuhocsau\patient_heart_rate.csv', names= column_names)
df

      ID            Name   Age      Weight m0006 m0612 m1218 f006 f0612 f1218
0    1.0    Mickéy Mousé  56.0       70kgs    72    69    71    -     -     -
1    2.0     Donald Duck  34.0   154.89lbs     -     -     -   85    84    76
2    3.0      Mini Mouse  16.0         NaN     -     -     -   65    69    72
3    4.0  Scrooge McDuck   NaN       78kgs    78    79    72    -     -     -
4    5.0    Pink Panther  54.0  198.658lbs     -     -     -   69   NaN    75
5    6.0     Huey McDuck  52.0      189lbs     -     -     -   68    75    72
6    7.0    Dewey McDuck  19.0       56kgs     -     -     -   71    78    75
7    8.0      Scööpy Doo  32.0       78kgs    78    76    75    -     -     -
8    NaN             NaN   NaN         NaN   NaN   NaN   NaN  NaN   NaN   NaN
9    NaN             NaN   NaN         NaN   NaN   NaN   NaN  NaN   NaN   NaN
10   9.0     Huey McDuck  52.0      189lbs     -     -     -   68    75    72
11  10.0    Louie McDuck  12.0       45kgs     -     -     -   92    95    87
12  11.0       Henry Nam   NaN       60kgs    78    75    72    -     -     -
13  12.0     Michel Long  34.0         NaN    65    67    55    -     -     -
14  13.0      Tana Ricky   NaN         NaN     -     -     -   68    72    70
15  14.0        UniLever   NaN         NaN   NaN   NaN   NaN  NaN   NaN   NaN
16  15.0             NaN  52.0      180lbs     -     -     -   68    75    72

In [107]:
df[['Firstname', 'Lastname']]=df['Name'].str.split(expand = True)
df.head(5)

,ID,Name,Age,Weight,m0006,m0612,m1218,f006,f0612,f1218,Firstname,Lastname
0,1.0,Mickéy Mousé,56.0,70kgs,72,69,71,-,-,-,Mickéy,Mousé
1,2.0,Donald Duck,34.0,154.89lbs,-,-,-,85,84,76,Donald,Duck
2,3.0,Mini Mouse,16.0,NaN,-,-,-,65,69,72,Mini,Mouse
3,4.0,Scrooge McDuck,NaN,78kgs,78,79,72,-,-,-,Scrooge,McDuck
4,5.0,Pink Panther,54.0,198.658lbs,-,-,-,69,NaN,75,Pink,Panther

In [108]:
df = df.drop('Name',axis=1)
df.head(5)

    ID   Age      Weight m0006 m0612 m1218 f006 f0612 f1218 Firstname Lastname
0  1.0  56.0       70kgs    72    69    71    -     -     -    Mickéy    Mousé
1  2.0  34.0   154.89lbs     -     -     -   85    84    76    Donald     Duck
2  3.0  16.0         NaN     -     -     -   65    69    72      Mini    Mouse
3  4.0   NaN       78kgs    78    79    72    -     -     -   Scrooge   McDuck
4  5.0  54.0  198.658lbs     -     -     -   69   NaN    75      Pink  Panther

In [109]:
weight=df['Weight']
for i in range(len(weight)):
  x = str(weight[i])
  if "lbs" in x[-3:]:
    #remove the lbs from the value
    x = x[:-3]
    float_x = float(x)
    y = int(float_x/2.205)
    y = str(y)+"kgs"
    weight[i] = y
print(df.head(5))

    ID   Age Weight m0006 m0612 m1218 f006 f0612 f1218 Firstname Lastname
0  1.0  56.0  70kgs    72    69    71    -     -     -    Mickéy    Mousé
1  2.0  34.0  70kgs     -     -     -   85    84    76    Donald     Duck
2  3.0  16.0    NaN     -     -     -   65    69    72      Mini    Mouse
3  4.0   NaN  78kgs    78    79    72    -     -     -   Scrooge   McDuck
4  5.0  54.0  90kgs     -     -     -   69   NaN    75      Pink  Panther

C:\Users\THAIAN~1\AppData\Local\Temp/ipykernel_6252/2866747012.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y

In [110]:
df.dropna(how="all", inplace=True)
df

      ID   Age Weight m0006 m0612 m1218 f006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71    -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -   85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -   65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72    -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -   69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -   68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -   71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75    -     -     -    Scööpy      Doo
10   9.0  52.0  85kgs     -     -     -   68    75    72      Huey   McDuck
11  10.0  12.0  45kgs     -     -     -   92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72    -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55    -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -   68    72    70      Tana    Ricky
15  14.0   NaN    NaN   NaN   NaN   NaN  NaN   NaN   NaN  UniLever     None
16  15.0  52.0  81kgs     -     -     -   68    75    72       NaN      NaN

In [112]:
df = df.drop_duplicates(subset=['Firstname','Lastname', 'Age', 'Weight'])
df

      ID   Age Weight m0006 m0612 m1218 f006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71    -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -   85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -   65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72    -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -   69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -   68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -   71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75    -     -     -    Scööpy      Doo
11  10.0  12.0  45kgs     -     -     -   92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72    -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55    -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -   68    72    70      Tana    Ricky
15  14.0   NaN    NaN   NaN   NaN   NaN  NaN   NaN   NaN  UniLever     None
16  15.0  52.0  81kgs     -     -     -   68    75    72       NaN      NaN

In [113]:
df.Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True,inplace=True)
df.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True,inplace=True)
df

C:\Users\Thai Anh\AppData\Roaming\Python\Python39\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

      ID   Age Weight m0006 m0612 m1218 f006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71    -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -   85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -   65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72    -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -   69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -   68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -   71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75    -     -     -      Scpy      Doo
11  10.0  12.0  45kgs     -     -     -   92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72    -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55    -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -   68    72    70      Tana    Ricky
15  14.0   NaN    NaN   NaN   NaN   NaN  NaN   NaN   NaN  UniLever     None
16  15.0  52.0  81kgs     -     -     -   68    75    72       NaN      NaN

In [114]:
index_ageweight = df[df['Age'].isna() & df['Weight'].isna()].index
index_ageweight

Int64Index([14, 15], dtype='int64')

In [115]:
df.drop(index_ageweight, inplace=True)
df

C:\Users\Thai Anh\AppData\Roaming\Python\Python39\site-packages\pandas\core\frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

      ID   Age Weight m0006 m0612 m1218 f006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71    -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -   85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -   65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72    -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -   69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -   68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -   71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75    -     -     -      Scpy      Doo
11  10.0  12.0  45kgs     -     -     -   92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72    -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55    -     -     -    Michel     Long
16  15.0  52.0  81kgs     -     -     -   68    75    72       NaN      NaN

In [117]:
df['Age'].fillna(df['Age'].mean(), inplace =False)

0     56.0
1     34.0
2     16.0
3     36.1
4     54.0
5     52.0
6     19.0
7     32.0
11    12.0
12    36.1
13    34.0
16    52.0
Name: Age, dtype: float64

In [118]:
df

      ID   Age Weight m0006 m0612 m1218 f006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71    -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -   85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -   65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72    -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -   69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -   68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -   71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75    -     -     -      Scpy      Doo
11  10.0  12.0  45kgs     -     -     -   92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72    -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55    -     -     -    Michel     Long
16  15.0  52.0  81kgs     -     -     -   68    75    72       NaN      NaN

In [119]:
df_ = pd.melt(df, id_vars=['ID', 'Age', 'Weight', 'Firstname', 'Lastname'], value_name="PulseRate",var_name="sex_and_time").sort_values(['ID', 'Age', 'Weight', 'Firstname', 'Lastname'])

In [120]:
df_

      ID   Age Weight Firstname Lastname sex_and_time PulseRate
0    1.0  56.0  70kgs     Micky     Mous        m0006        72
12   1.0  56.0  70kgs     Micky     Mous        m0612        69
24   1.0  56.0  70kgs     Micky     Mous        m1218        71
36   1.0  56.0  70kgs     Micky     Mous         f006         -
48   1.0  56.0  70kgs     Micky     Mous        f0612         -
..   ...   ...    ...       ...      ...          ...       ...
23  15.0  52.0  81kgs       NaN      NaN        m0612         -
35  15.0  52.0  81kgs       NaN      NaN        m1218         -
47  15.0  52.0  81kgs       NaN      NaN         f006        68
59  15.0  52.0  81kgs       NaN      NaN        f0612        75
71  15.0  52.0  81kgs       NaN      NaN        f1218        72

[72 rows x 7 columns]

In [121]:
tmp_df= df_["sex_and_time"].str.extract("(\D)(\d+)(\d{2})", expand=True)

In [122]:
tmp_df.head(5)

    0   1   2
0   m  00  06
12  m  06  12
24  m  12  18
36  f   0  06
48  f  06  12

In [123]:
tmp_df.columns=["Sex","hours_lower","hours_upper"]

In [124]:
tmp_df.head(5)

   Sex hours_lower hours_upper
0    m          00          06
12   m          06          12
24   m          12          18
36   f           0          06
48   f          06          12

In [125]:
tmp_df["Time"]=tmp_df["hours_lower"] + "-"+ tmp_df["hours_upper"]

In [126]:
tmp_df

   Sex hours_lower hours_upper   Time
0    m          00          06  00-06
12   m          06          12  06-12
24   m          12          18  12-18
36   f           0          06   0-06
48   f          06          12  06-12
..  ..         ...         ...    ...
23   m          06          12  06-12
35   m          12          18  12-18
47   f           0          06   0-06
59   f          06          12  06-12
71   f          12          18  12-18

[72 rows x 4 columns]

In [127]:
df =pd.concat([df_, tmp_df], axis=1)

In [128]:
df

,ID,Age,Weight,Firstname,Lastname,sex_and_time,PulseRate,Sex,hours_lower,hours_upper,Time
0,1.0,56.0,70kgs,Micky,Mous,m0006,72,m,00,06,00-06
12,1.0,56.0,70kgs,Micky,Mous,m0612,69,m,06,12,06-12
24,1.0,56.0,70kgs,Micky,Mous,m1218,71,m,12,18,12-18
36,1.0,56.0,70kgs,Micky,Mous,f006,-,f,0,06,0-06
48,1.0,56.0,70kgs,Micky,Mous,f0612,-,f,06,12,06-12
...,...,...,...,...,...,...,...,...,...,...,...
23,15.0,52.0,81kgs,NaN,NaN,m0612,-,m,06,12,06-12
35,15.0,52.0,81kgs,NaN,NaN,m1218,-,m,12,18,12-18
47,15.0,52.0,81kgs,NaN,NaN,f006,68,f,0,06,0-06
59,15.0,52.0,81kgs,NaN,NaN,f0612,75,f,06,12,06-12
71,15.0,52.0,81kgs,NaN,NaN,f1218,72,f,12,18,12-18

In [129]:
df = df.drop(['sex_and_time','hours_lower','hours_upper'], axis=1)
df = df.dropna()

In [130]:
df

      ID   Age Weight Firstname Lastname PulseRate Sex   Time
0    1.0  56.0  70kgs     Micky     Mous        72   m  00-06
12   1.0  56.0  70kgs     Micky     Mous        69   m  06-12
24   1.0  56.0  70kgs     Micky     Mous        71   m  12-18
36   1.0  56.0  70kgs     Micky     Mous         -   f   0-06
48   1.0  56.0  70kgs     Micky     Mous         -   f  06-12
60   1.0  56.0  70kgs     Micky     Mous         -   f  12-18
1    2.0  34.0  70kgs    Donald     Duck         -   m  00-06
13   2.0  34.0  70kgs    Donald     Duck         -   m  06-12
25   2.0  34.0  70kgs    Donald     Duck         -   m  12-18
37   2.0  34.0  70kgs    Donald     Duck        85   f   0-06
49   2.0  34.0  70kgs    Donald     Duck        84   f  06-12
61   2.0  34.0  70kgs    Donald     Duck        76   f  12-18
4    5.0  54.0  90kgs      Pink  Panther         -   m  00-06
16   5.0  54.0  90kgs      Pink  Panther         -   m  06-12
28   5.0  54.0  90kgs      Pink  Panther         -   m  12-18
40   5.0  54.0  90kgs      Pink  Panther        69   f   0-06
64   5.0  54.0  90kgs      Pink  Panther        75   f  12-18
5    6.0  52.0  85kgs      Huey   McDuck         -   m  00-06
17   6.0  52.0  85kgs      Huey   McDuck         -   m  06-12
29   6.0  52.0  85kgs      Huey   McDuck         -   m  12-18
41   6.0  52.0  85kgs      Huey   McDuck        68   f   0-06
53   6.0  52.0  85kgs      Huey   McDuck        75   f  06-12
65   6.0  52.0  85kgs      Huey   McDuck        72   f  12-18
6    7.0  19.0  56kgs     Dewey   McDuck         -   m  00-06
18   7.0  19.0  56kgs     Dewey   McDuck         -   m  06-12
30   7.0  19.0  56kgs     Dewey   McDuck         -   m  12-18
42   7.0  19.0  56kgs     Dewey   McDuck        71   f   0-06
54   7.0  19.0  56kgs     Dewey   McDuck        78   f  06-12
66   7.0  19.0  56kgs     Dewey   McDuck        75   f  12-18
7    8.0  32.0  78kgs      Scpy      Doo        78   m  00-06
19   8.0  32.0  78kgs      Scpy      Doo        76   m  06-12
31   8.0  32.0  78kgs      Scpy      Doo        75   m  12-18
43   8.0  32.0  78kgs      Scpy      Doo         -   f   0-06
55   8.0  32.0  78kgs      Scpy      Doo         -   f  06-12
67   8.0  32.0  78kgs      Scpy      Doo         -   f  12-18
8   10.0  12.0  45kgs     Louie   McDuck         -   m  00-06
20  10.0  12.0  45kgs     Louie   McDuck         -   m  06-12
32  10.0  12.0  45kgs     Louie   McDuck         -   m  12-18
44  10.0  12.0  45kgs     Louie   McDuck        92   f   0-06
56  10.0  12.0  45kgs     Louie   McDuck        95   f  06-12
68  10.0  12.0  45kgs     Louie   McDuck        87   f  12-18